img {
    display:flex;
    background-size: cover;
    height: 30vh;
    width: 20vw;
    justify-content: center;
    position: relative;
    /* left: 600px */
}

.textInfo {
    display: flex;
    flex-direction: column;   
}

.favoriteDisplay{
    display: flex;
    flex-wrap: wrap
}